@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
    color: dimgray;
}

.card-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    border: 3px solid transparent;
 }

.card:hover {
    border: 3px solid cornflowerblue;
}

.card-link {
    text-decoration: none;
}

.card-image {
    height: 200px;
    width: 100%;
}

.card-title {
    text-align: center;
    color: dimgray;
}

