<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Resume</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.69/pdfmake.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js" defer></script>
  
  <script src="js/script.js" defer></script>

</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
          <v-app-bar color="primary" dark>
            <v-toolbar-title><h3>Resume - (Vuejs + Vuetifyjs)</h3></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn @click="downloadOrPreviewPDF(2)" color="primary" elevation="0">Preview</v-btn>
            <v-btn @click="downloadOrPreviewPDF(1)" color="primary" elevation="0">Download</v-btn>
            <v-btn @click="close" color="primary" elevation="0">Close</v-btn>
          </v-app-bar>
        <v-container>

          <template>

            <v-row>
            <v-col md="4">
              <br>
              <span class="font-weight-black">{{shortProfile.fullName}}</span>
              <br>
              {{shortProfile.mobileNumber}}
              <br>
              {{shortProfile.emailAddress}}
              <br>
              {{shortProfile.github}}
              <br>
            </v-col>
            </v-row>

      
            <v-row :style="rowHeaderStyle">
              <h3 :style="h2Style">Experience</h3>
            </v-row>

            <v-row>
              <v-col md="4">
                <br>
                <span class="font-weight-black">{{workExperience.jobPosition}}</span>
                <br>
                {{workExperience.companyName}}
                <br>
                {{workExperience.companyAddress}}
                <br>
                {{workExperience.companyContact}}
                <br>
                {{workExperience.employmentDuration}}
                <br>
              </v-col>
            </v-row>

            <v-row>
              <v-col md="4">
                <li v-for="item in workExperience.workResponsibilities">
                  {{ item }}
                </li>
              </v-col>
            </v-row>

            <v-row :style="rowHeaderStyle">
              <h3 :style="h2Style">Skills</h3>
            </v-row>

            <v-row>
              <v-col md="2">
                <br>
                <h3>Web Application Core</h3>
                HTML<br>
                CSS<br>
                JavaScript
                <br>
              </v-col>
              <v-col md="3">
                <br>
                <h3>JavaScript Framework</h3>
                Vue.js<br>
                <br>
              </v-col>
              <v-col md="2">
                <br>
                <h3>CSS Framework</h3>
                Vuetify<br>
                Bootstrap<br>
                Materilize<br>
                <br>
              </v-col>

              <v-col md="3">
                <br>
                <h3>Server Side / Back End</h3>
                 Node.js<br>
                 MagicXPA<br>
                 PHP<br>
                 C#<br>
                <br>
              </v-col>

              <v-col md="2">
                <br>
                <h3>Database</h3>
                MySQL<br>
                CouchDB<br>
                SQL Server<br>
                Microsoft Access<br>
                <br>
              </v-col>
            </v-row>

            <v-row :style="rowHeaderStyle">
              <h3 :style="h2Style">Education</h3>
            </v-row>

            <v-row>
              <v-col md="6">
              <br>
              <span class="font-weight-black">{{education.college.collegeName}}</span>
              <br>
              {{education.college.collegeAddress}}
              <br>
              {{education.college.collegeContact}}
              <br>
              {{education.college.collegeCourse}}
              <br>
              {{education.college.collegeDuration}}
              <br>
              </v-col>
              <v-col md="6">
                <br>
                <span class="font-weight-black">{{education.highschool.highschoolName}}</span>
                <br>
                {{education.highschool.highschoolAddress}}
                <br>
                {{education.highschool.level}}
                <br>
                {{education.highschool.highschoolDuration}}
                <br>
              </v-col>
            </v-row>

            <v-row :style="rowHeaderStyle">
              <h3 :style="h2Style">Projects</h3>
            </v-row>
            <br>
            <br>
            <v-row>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th>Project Name</th>
                      <th>Date</th>
                      <th>Role</th>
                      <th>HTML CSS JavaScript</th>
                      <th>Vue.js</th>
                      <th>Vuetify</th>
                      <th>Bootstrap</th>
                      <th>Materialize</th>
                      <th>C#</th>
                      <th>Node.js</th>
                      <th>PHP</th>
                      <th>Magic XPA</th>
                      <th>Microsoft Access</th>
                      <th>SQL Server</th>
                      <th>MySQL</th>
                      <th>CouchDB</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(item,itemIndex) in projectList"
                      :key="itemIndex"
                    >
                      <td>{{item.projectName}}</td>
                      <td>{{item.projectDate}}</td>
                      <td>{{item.projectRole}}</td>
                      <td>
                        <v-checkbox v-model="item.HTMLCSSJavaScript" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.VueJS" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.Vuetify" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.Bootstrap" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.Materialize" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.CSharp" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.NodeJS" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.PHP" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.MagicXPA" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.MicrosoftAccess" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.SQLServer" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.mySQL" readonly></v-checkbox>
                      </td>
                      <td>
                        <v-checkbox v-model="item.couchDB" readonly></v-checkbox>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-row>
           
          </template>

        </v-container>
      </v-main>
    </v-app>
  </div>

</body>
</html>
