.carousel-container .carousel-main{
width: 300%;
}

#radio-slide2:checked ~ .carousel-main{
margin-left: -100%;
}

#radio-slide3:checked ~ .carousel-main{
margin-left: -200%;
}

#radio-slide1:checked ~ .outer-radio-div .inner-radio-div .button-slide .radio-slide1{
background: #9333ea
}
#radio-slide1:checked ~ .outer-radio-div .inner-radio-div .button-slide .radio-slide2,
#radio-slide1:checked ~ .outer-radio-div .inner-radio-div .button-slide .radio-slide3{
background: white;
}

#radio-slide2:checked ~ .outer-radio-div .inner-radio-div .button-slide .radio-slide2{
background: #9333ea
}

#radio-slide2:checked ~ .outer-radio-div .inner-radio-div .button-slide .radio-slide1,
#radio-slide2:checked ~ .outer-radio-div .inner-radio-div .button-slide .radio-slide3{
background: white;
}

#radio-slide3:checked ~ .outer-radio-div .inner-radio-div .button-slide .radio-slide3{
background: #9333ea
}

#radio-slide3:checked ~ .outer-radio-div .inner-radio-div .button-slide .radio-slide1,
#radio-slide3:checked ~ .outer-radio-div .inner-radio-div .button-slide .radio-slide2{
background: white;
}

/***********************************************/
/**************** TESTIMONIAL ******************/
/***********************************************/

.testimonial-container .testimonial-main-card{
width: 300%;
}

#radio-testimonial2:checked ~ .testimonial-main-card{
margin-left: -100%;
}

#radio-testimonial3:checked ~ .testimonial-main-card{
margin-left: -200%;
}

.testimonial-main-card .multi-card-container .testimonial-card{
width: calc(100% / 3 - 10px);
}

#radio-testimonial1:checked ~ .button .radio-testimonial1{
background: #9333ea
}
#radio-testimonial1:checked ~ .button .radio-testimonial2,
#radio-testimonial1:checked ~ .button .radio-testimonial3{
background: #fff;
}

#radio-testimonial2:checked ~ .button .radio-testimonial2{
background: #9333ea
}

#radio-testimonial2:checked ~ .button .radio-testimonial1,
#radio-testimonial2:checked ~ .button .radio-testimonial3{
background: #fff;
}

#radio-testimonial3:checked ~ .button .radio-testimonial3{
background: #9333ea
}

#radio-testimonial3:checked ~ .button .radio-testimonial1,
#radio-testimonial3:checked ~ .button .radio-testimonial2{
background: #fff;
}

@media (max-width: 768px) {
    .testimonial-main-card .multi-card-container .testimonial-card{
        margin: 50px 0 0 0;
        width: calc(100% / 2 - 10px);
    }
}
@media (max-width: 600px) {
    .testimonial-main-card .multi-card-container .testimonial-card{
        width: 100%;
    }
}